@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-parent {
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
.grid-summary {
  grid-template-columns: 1fr 1.3fr;
}
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: rgb(113 113 122);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgb(6 182 212);
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(8 145 178);
  }
}
